.a9s-magnetic-polyline {

  .a9s-magnetic-polyline-marker {
    cursor:none;
    
    line {
      stroke-width:2px;
      stroke:#000;
    }    
  
  }

}

.a9s-annotationlayer.no-cursor {
  cursor:none !important;

  * {
    cursor:none !important;
  }
}

.a9s-crosshair {
  stroke-width:1px;
  stroke:rgba(0, 0, 0, 0.65);
}