.a9s-selection.a9s-magnetic-path {

  .a9s-magnetic-path-confirmed {
    fill:none;
    stroke:#0000ff;
    stroke-width:4px;
  }

  .a9s-magnetic-path-draft {
    stroke:rgba(255, 96, 96, 0.9);
    fill:none;
    stroke-width:4px;
    stroke-dasharray:10 6;
  }

}

.a9s-annotationlayer.no-cursor {
  cursor:none !important;

  * {
    cursor:none !important;
  }
}

.a9s-crosshair {
  stroke-width:1px;
  stroke:rgba(0, 0, 0, 0.65);

  circle {
    stroke-width:1.5px;
    stroke:#000;
    fill:#fff;
  }
}